.current{
    color: green;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

p {
    font-size: 18px;
}

article {
    margin-left: 25px;
    margin-right: 25px;
}