<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="d&d, dnd, 5e, D&D, DnD, Short Rest">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="icon" type="image/png" href="/assets/images/favicon.png">
        <title>
            Short Rest - {{ page.title }}
        </title>
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
        
        <small>
            The Short Rest blog is unofficial Fan Content permitted under the <a href="https://company.wizards.com/fancontentpolicy">Fan Content Policy</a>. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC.
        </small>
    </body>
</html>